/* @red: #b0320c;
@purple: #522375;
@blu: #319090; */

/* Create a div propic rounded with centered image inside */
body {
    background-color: #27262e;
    
}

.form-label {
    color: white;
}
  
button.followButton{
    color: white;
    border: none;
    border-radius: 20px;
    width: 120px;
    margin-top: 32px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

button.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary{
  border-radius: 10px !important;
}

button.updateProfile{
  background-color: #c54b26;
}

button.follow{
    background-color: #319090 !important;
}

button.unfollow{
    background-color: #ff0000;

}

button.unfollow:hover{
    background-color: #8b2f2f;
    
}

div.coverimage {
  width: 100%;
  height: 120px;
  position: relative;
  overflow: hidden;
}

img.coverimage {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

img.profilepicture {
  margin:auto;
  height: 100%;
}

div.profilepicture {
  margin-left: 10%;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid white;
  /*border-color: white;*/
  /*border-width: thick;*/
  width: 100px;
    height: 100px;  
}

div.propicfollower{
    width: 40px;
    height: 40px;
}


div.propicposition{
    
    /*display: flex;*/
    z-index: 10;
    position: absolute;
    top: 70px;
}

div.name {
  color: white;
  margin-left: 45%;
  margin-top: 8px;
}

button.follow {
  color: white;
}

svg.follow {
  color: white;
  width: 10px;
}

div.post_media {
  width: 100%;
  margin-top: 48px;
}

.btn {
  color: white;
  background-color: rgba(0,0,0,0);
  border-radius: 0;
  border-color: white;
  border-top: rgba(0,0,0,0);
  border-left: rgba(0,0,0,0);
  border-right: rgba(0,0,0,0);
}

.line {
  border-right: white;
}

div.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.margin {
  margin-top: 32px;
}
div.center>p{
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  color: white;
}

div.follower-count{
  padding-left: 20%;
  padding-right: 20%;
}

.navbar-light{
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.bi-search-heart-fill{
  margin-left: 5px;
  margin-right: 5px;
}

.bi-bell-fill{
  margin-left: 5px;
  margin-right: 5px;
}

.bi-inbox-fill{
  margin-left: 5px;
  margin-right: 25px;
}










